language: python

python:
  - "3.6 "

install:
  - pip install -r requirements.txt
  - pip install coverage
  
script:
  - nosetests --with-coverage --cover-package=tests && coverage report

after_script:
- COVERALLS_REPO_TOKEN=os.environ["COVERALLS_TOKEN"]

after_success: coveralls
