<html>
    <head>
        <title>Learn And Do</title>
        <link rel="stylesheet" type="text/css" href="/app/static/css/logged.css">
    </head>
    <body>
        <div class="words wors-1">
            <span>L</span> 
            <span>A</span>             
            <span>E</span>
            <span>R</span>
            <span>N</span>
        </div>

        <div class="words wors-1">
            <span>A</span>              
            <span>N</span>
            <span>D</span>
        </div>

        <div class="words wors-1">
            <span>B</span>              
            <span>E</span>
            <span>C</span>
            <SPan>O</SPan>
            <span>M</span>
            <span>E</span>
        </div>

    </body>
</html>