<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://code.jquery.com/jquery-3.3.1.js">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/solid.css" integrity="sha384-+0VIRx+yz1WBcCTXBkVQYIBVNEFH1eP6Zknm16roZCyeNg2maWEpk/l/KsyFKs7G" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css" integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="/static/css/signup.css">
  <title></title>
</head>
<body>

		 <div class="modal-dialog text-center">
          <div class="col-sm-8 main-section">
              <div class="modal-content">
                
                 <div class="col-12 user-img"> 
                    <img src="/static/img/face.png">
                 </div>     

                 <form action="/signup" method="post" class="col-12">
                 	<div class="form-group">
                 		<input type="text" class="form-control" placeholder="Enter Username" required>
                 	</div>
                    <div class="form-group">
                    <input type="Password" class="form-control" placeholder="Enter Password" required>
                  </div>
                 	<div class="form-group">
                 		<input type="Password" class="form-control" placeholder="Repeat Password" required>
                 	</div>

                 	<button type="submit" class="btn"><i class="fas fa-sign-in-alt"></i><a href="/trial" class="submit">Login</button></a>

                 </form>

                 <div class="col-12 forgot">
                 	<a href="#">Forgot Password?</a>
                 </div>

              </div>
          </div>
        </div>    

</body>
</html>